body {
	  font-family: 'Cabin Sketch', sans-serif;
	  background-color:#73A39B;
	  text-align: center;
	  color:#fff;
	  padding-top:10em;
}

/*mine*/
h1 {
	font-size:4em;
}
p {
	font-size:1.5em;
}
#bar {
	color:#FFF;
    height: 20px;
    width: 20px;
	padding:20px;
}
#bar2 {
	color:#FFF;
    height: 20px;
    width: 20px;
	padding:20px;
}
#bar3 {
	color:#FFF;
    height: 20px;
    width: 20px;
	padding:20px;
}
#bar4 {
	color:#FFF;
    height: 20px;
    width: 20px;
	padding:20px;
}

/*fullpage demo*/
/*body {
  font: normal 2em/1.5em "Helvetica Neue", Arial, sans-serif;
  color: #fff;
}*/

button.btn {
  margin-top: 40px;
  background: #66bb6a;
  border-radius: 4px;
}
	#first,
	#second,
	#third,
	#fourth,
	#fifth{
		background-size: cover;
		background-attachment: fixed;
	}
  #first {
	background-image:url(../images/mypic.png);
    background-color: #73A39B;
  }
  #second {
	background-color: #424242;
  }
  #third {
    background-color: #73A39B;
  }
  #fourth {
    background-color: #424242;
  }
  #fifth {
    background-color: #73A39B;
  }
  #sixth{
	background-color: #424242;
}
.mypic {
	background-color:#73A39B;
	opacity: 0.7;
}

p {
  margin-bottom: 30px;
}

* { color:#fff; text-decoration: none;}

.footer{
	padding: 50px 0;
}

